body{
    background-color: rgb(233, 232, 232);
}
h1{
    text-align: center;
    margin-top: 2%;
}
.formulario{
    display:block;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: grey;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
.cursos{
    margin-left: 5%;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}
label{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.enviar{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.enviar:hover {
  background-color: black;
  color: white;
}

.enviar:active {
  background-color: rgb(94, 94, 94);
}
.itemForm{
    margin-bottom: 5px;
    margin-left: 5%;
}
.textInput{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding-right: 5px;
}
.tablaAlumnos{
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.tdAlumnos, .thAlumnos {
    padding: 12px 15px;
    border: 1px solid black;
    text-align: center;
}
.thAlumnos{
    background-color: gray;
}
.tdAlumnos{
    background-color: rgb(233, 232, 232);
}
.botonVolver {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonVolver:hover {
  background-color: black;
  color: white;
}

.botonVolver:active {
  background-color: rgb(94, 94, 94);
}
.respuesta{
    display:block;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: grey;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
}
.mensaje{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;

}
.mostrarTabla{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.mostrarTabla:hover {
  background-color: black;
  color: white;
}

.mostrarTabla:active {
  background-color: rgb(94, 94, 94);
}
.divBotones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}